html, body{
    height: 100%;
    font-family:Arial, Helvetica, sans-serif
}
body{
    background-color: oklch(58.8% 0.158 241.966);
    /*centralizar a lista */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*Deixa os elementos em coluna*/
    
}
.list-wrapper{
    background-color: white;
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}
.list{
    list-style-type: none;
    padding: 0;
}
.list-item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 16px;
}
.list-item-image img{
    width: 80px;
    border-radius: 50%;
    padding: 5px;
}
.list-itenm-content{
    padding: 0, 20px;
    flex-grow: 1;
}
.list-item-name{
    font-size: 24px;
    color: #385555;
    margin: 0;
}
.list-item-email{
    margin: 5px 0 0;
    color: #aaa;
    
}
.list-item:hover{
    background-color: #e8e8e8;
    
}
.list-item-actions{
    display: flex;
    gap: 16px;
    align-items: center;
    opacity: 0;
}
.list-item:hover .list-item-actions{
    opacity: 0.3; /*opacidade*/
}