html, body{
    height: 100%;
    font-family:Arial, Helvetica, sans-serif
}
body{
    background-color: oklch(58.8% 0.158 241.966);
    /*centralizar a lista */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*Deixa os elementos em coluna*/
    
}
