html, body{
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    padding: 32px;
}
body{
    background-color: oklch(58.8% 0.158 241.966);
    /*centralizar a lista */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*Deixa os elementos em coluna*/
    
}
.list{
    width: 90%;
    max-width: 960px;
    /*deixa os contatos lado a lado*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
}
.list-item{
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgb(0, 0, .2);
    background-image: url(imagens/thumb02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.list-item-image img{
    border-radius: 50%;
    width: 80px;
    margin-top: 120px;
}
.list-item-name{
    margin: 0;
    font-size: 24px;
    color: #385555;
}
.list-item-actions{
    display: flex;
    background-color: #e5e5e5;
    padding: 16px;
    justify-content: space-evenly;
    gap: 16px; 
}
